rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /sqlite_backup/{document=**} {
      allow read, write: if true;
    }
  }
}
